.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: grid;
  place-items: center;
  opacity: 0;
  pointer-events: none;
  transition: .4s;
  visibility: hidden;
}
.active {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}
.modal__content {
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  min-height: 200px;
  min-width: 400px;
  transform: scale(0.5);
  transition: 0.3s all;
}
.activeContent {
  transform: scale(1);
}
.closeBtn {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: black;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%) rotate(135deg);
    border-radius: 15px;
  }
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: black;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%) rotate(45deg);
  }
}